---
const { project } = Astro.props;
---

<div class='projects-section__project-card project-card'>
    <div class='project-card__wrapper'>
        <h3 class='project-card__title'>
            {project.frontmatter.title}
        </h3>
        <div class='project-card__description'>
            {project.frontmatter.description}
        </div>
        <div class='project-card__actions'>
            <a href={project.url} class='button__primary--gradient'>
                {'Details'}
            </a>
            <a href={project.frontmatter.sourceLink} class='button__secondary--gradient'>
                {'Source Code'}
            </a>
        </div>
    </div>
    <img
        class='project-card__image'
        width="40%"
        height="auto"
        src={project.frontmatter.heroImage}
        alt='testImage' />
</div> 