---
export interface Props {
    work: {
        company: {
            name: string;
            logo: string;
        };
        office: string;
        description: string;
        workLink: string;
    }
}

const { work } = Astro.props;
---

<div class="work-section__work-card">
    <div class="work-card__logo-wrapper">
        <img class="work-card__logo" src={work.company.logo} alt={`${work.company.name}\'s logo`} />
    </div>
    <h3 class="work-card__title">{work.company.name}</h3>
    <h4 class="work-card__subtitle">{work.office}</h4>
    <p class="work-card__description">
        {work.description}
    </p>
</div>